@tailwind base;
@tailwind components;
@tailwind utilities;

.hoverItem:hover {
   transform: translateY(-4px);
}

.hoverItemSpecial:hover {
   transform: translateY(-6px);
}

.blog-content
   *:not(svg, h1, h2, h3, h4, h5, h6, a, pre, .code-title, .token-line, .token.plain, .blog-image) {
   margin-top: 1em !important;
}

.token-line {
   @apply p-1 hover:bg-gray-50 dark:hover:bg-gray-800;
}

.blog-content code {
   @apply bg-blue-100 bg-opacity-20 text-blue-500 dark:bg-blue-900 dark:bg-opacity-20;
}

.blog-content h1 {
   font-weight: 600;
}

.blog-content h2 {
   font-weight: 600;
}

.blog-content h3 {
   font-weight: 600;
}

.blog-content h4 {
   font-weight: 600;
}

.blog-content h5 {
   font-weight: 600;
}

.blog-content h6 {
   font-weight: 600;
}

.blog-content p {
   font-size: 1rem;
}

[contenteditable] {
   outline: 0px solid transparent;
}

.scrollbar-hidden::-webkit-scrollbar {
   display: none;
}

.scrollbar-hidden {
   -ms-overflow-style: none;
   scrollbar-width: none;
}

.ProseMirror {
   @apply dark:bg-dark-bg;
}

.ProseMirror h1 {
   @apply text-4xl text-black dark:text-white;
}

.ProseMirror h2 {
   @apply text-3xl text-black dark:text-white;
}

.ProseMirror h3 {
   @apply text-2xl text-black dark:text-white;
}

.ProseMirror h4 {
   @apply text-xl text-black dark:text-white;
}

.ProseMirror h5 {
   @apply text-lg text-black dark:text-white;
}

.ProseMirror h6 {
   @apply text-sm text-black dark:text-white;
}

.borderColor {
   @apply border-gray-300 dark:border-gray-700;
}

.loading-loader {
   border-radius: 50%;
   position: relative;
   margin: 50px;
   display: inline-block;
   height: 0;
   width: 0;
}

.loading-loader span {
   position: absolute;
   display: block;
   background-color: #0b9496;
   height: 20px;
   width: 20px;
   border-radius: 50%;
   top: -20px;
   perspective: 100000px;
}
.loading-loader span:nth-child(1) {
   left: 60px;
   animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
   animation-delay: 0s;
}
.loading-loader span:nth-child(2) {
   left: 20px;
   animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
   animation-delay: 0.2s;
}
.loading-loader span:nth-child(3) {
   left: -20px;
   animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
   animation-delay: 0.4s;
}
.loading-loader span:nth-child(4) {
   left: -60px;
   animation: bounce2 1s cubic-bezier(0.04, 0.35, 0, 1) infinite;
   animation-delay: 0.6s;
}

@keyframes bounce2 {
   0%,
   75%,
   100% {
      transform: translateY(0px);
   }
   25% {
      transform: translateY(-30px);
   }
}
